.container
  %nav.navbar
    %a{href: '#'} New Post
    .well
      =form_for @post do |f|
        .form-group
          =f.label :author
        .form-group
          =f.text_field :author, :class => 'form-control'
        .form-group
          =f.label :title
        .form-group
          =f.text_field :title, :class => 'form-control'
        .form-group
          =f.label :body
        .form-group
          =f.text_field :body, :class => 'form-control'
        .form-group
          =f.label :image_url
        .form-group
          =f.text_field :image_url, :class => 'form-control'
        .form-group
          =f.submit 'Add Post', :class => 'btn btn-default'
  =react_component 'Posts',
    posts: @posts
